
<div class="container">

    <div class="row d-flex justify-content-center">
        <div class="col-10 col-md-5 order-2">
            <img src="/img/svg/accessdenied.svg" class="w-100" alt="Erişim Reddedildi !">
        </div>

        <div class="col-md-7 order-1 mt-2">
            <div class="alert alert-danger">
            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-dash-circle-fill text-danger" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z"/>
            </svg>
            <span class="ms-1">
                <strong>Dikkat !</strong> Bu sayfaya erişmeye yetkiniz yok !
            </span>
        </div>

        <a href="/" class="btn btn-primary my-3"><i class="fas fa-arrow-circle-left"></i> Geri Dön</a>

    </div>
</div>