
<div class="container">

    <h2>Şifremi Unuttum</h2>
    <hr>

    <form asp-controller="Account" asp-action="ForgotPassword" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row mt-3 d-flex justify-content-center">
            <div class="col-md-7 order-2 order-md-1">
                <div class="row d-flex align-items-end mt-4">
                    <label for="email" class="col-form-label col-sm-2">Email</label>
                    <div class="col-sm-10">
                        <input type="email" name="Email" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10 offset-sm-2 mt-5">
                        <a href="/account/login" class="btn btn-secondary me-1"><i class="fas fa-arrow-circle-left"></i> Geriye Dön</a>
                        <button type="submit" class="btn btn-primary me-2"><i class="fal fa-paper-plane"></i> Gönder</button>
                        <i class="fas fa-grip-lines-vertical"></i>
                        <span class="ms-2">Üye değil misiniz ? <a href="/account/register" class="btn btn-link px-1"><i class="far fa-user-plus"></i> Kayıt Ol</a></span>
                    </div>
                </div>                
            </div>

            <div class="col-10 col-md-5 order-1 order-md-2">
                <img src="/img/svg/forgotpassword.svg" alt="" class="w-100">
            </div>
        </div>
    </form>
</div>