@model RegisterModel

<div class="container">
    <h2>Kayıt Ol</h2>
    <hr>

    <div class="row d-flex justify-content-center">
        <div class="col-10 col-md-8 col-lg-5 order-1 order-lg-2 mb-3">
            <img src="/img/svg/register.svg" class="w-100" alt="">
        </div>

        <div class="col-12 col-lg-7 order-2 order-lg-1">
            <form asp-controller="Account" asp-action="Register" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                
                <div class="row d-flex align-items-end mb-2 mb-sm-3">
                    <label asp-for="FirstName" class="col-form-label col-sm-2">Adı</label>
                    <div class="col-sm-10">
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                        <input type="text" asp-for="FirstName" class="form-control">
                    </div>
                </div>
                <div class="row d-flex align-items-end mb-2 mb-sm-3">
                    <label asp-for="LastName" class="col-form-label col-sm-2">Soyadı</label>
                    <div class="col-sm-10">
                        <span asp-validation-for="LastName" class="text-danger"></span>
                        <input type="text" asp-for="LastName" class="form-control">
                    </div>
                </div>
                <div class="row d-flex align-items-end mb-2 mb-sm-3">
                    <label asp-for="UserName" class="col-form-label col-sm-2">Kullanıcı Adı</label>
                    <div class="col-sm-10">
                        <span asp-validation-for="UserName" class="text-danger"></span>
                        <input type="text" asp-for="UserName" class="form-control">
                    </div>
                </div>
                <div class="row d-flex align-items-end mb-2 mb-sm-3">
                    <label asp-for="Email" class="col-form-label col-sm-2">Email</label>
                    <div class="col-sm-10">
                        <span asp-validation-for="Email" class="text-danger"></span>
                        <input type="email" asp-for="Email" class="form-control">
                    </div>
                </div>
                <div class="row d-flex align-items-end mb-2 mb-sm-3">
                    <label asp-for="Password" class="col-form-label col-sm-2">Şifre</label>
                    <div class="col-sm-10">
                        <span asp-validation-for="Password" class="text-danger"></span>
                        <input type="password" asp-for="Password" class="form-control">
                    </div>
                </div>
                <div class="row d-flex align-items-end">
                    <label asp-for="RePassword" class="col-form-label col-sm-2">Şifre Tekrarı</label>
                    <div class="col-sm-10">
                        <span asp-validation-for="RePassword" class="text-danger"></span>
                        <input type="password" asp-for="RePassword" class="form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-10 offset-sm-2 mt-5">
                        <button type="submit" class="btn btn-primary me-2"><i class="fas fa-user-plus"></i> Kayıt Ol</button>
                        <i class="fas fa-grip-lines-vertical"></i>
                        <span class="ms-2">Zaten üye misiniz ? <a href="/account/login" class="btn btn-link px-1"><i class="far fa-sign-in"></i> Giriş Yap</a></span>
                    </div>
                </div>        
            </form>
        </div>
    </div>
</div>