@model ResetPasswordModel

<div class="container">
    <h2>Şifre Yenile</h2>
    <hr>

    <form asp-controller="Account" asp-action="ResetPassword" method="post">
        <input type="hidden" asp-for="UserId">
        <input type="hidden" asp-for="Token">

        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row mt-4">
            <div class="col-md-7 order-2 order-md-1">
                <div class="row d-flex align-items-end mb-4">
                    <label asp-for="Password" class="col-form-label col-sm-2">Yeni Şifre</label>
                    <div class="col-sm-10">
                        <span asp-validation-for="Password" class="text-danger"></span>
                        <input type="password" asp-for="Password" class="form-control">
                    </div>
                </div>
                <div class="row d-flex align-items-end mb-3">
                    <label asp-for="RePassword" class="col-form-label col-sm-2">Şifre Tekrar</label>
                    <div class="col-sm-10">
                        <span asp-validation-for="RePassword" class="text-danger"></span>
                        <input type="password" asp-for="RePassword" class="form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-10 offset-sm-2 mt-4 mb-3">
                        <a href="/" class="btn btn-danger ms-2 me-1"><i class="fas fa-arrow-circle-left"></i> İptal</a>
                        <button type="submit" class="btn btn-primary"><i class="far fa-lock-alt"></i> Şifreyi Yenile</button>
                    </div>
                </div>                
            </div>
            <div class="col-md-5 order-1 order-md-2">
                <img src="/img/svg/resetpassword.svg" class="w-100" alt="">
            </div>
        </div>
    </form>
</div>