<div class="card mt-4">
    <div class="card-header">
        Design
    </div>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="d-grid">
                <button class="btn btn-primary designOne btn-sm m-0">Design 1</button>
            </div>
        </li>
        <li class="list-group-item pt-0">
            <div class="d-grid m-0 p-0">
                <button class="btn btn-secondary mt-2 designTwo btn-sm m-0">Design 2</button>
            </div>
        </li>
    </ul>
</div>