<div class="text-center mt-2 py-5" style="background-color: #2C3E50;">
    <h4 class="mb-2 text-white">Sosyal Medya Hesaplar覺m</h4>
    <br>
    <ul class="media-ul ps-0">
        <li class="media-li"><a href="https://www.facebook.com/atakan.alkan.336/" target="_blank"><i class="fab fa-facebook-f footerMediaImage"></i></a></li>
        <li class="media-li"><a href="https://github.com/atakannalkan" target="_blank"><i class="fab fa-github footerMediaImage"></i></a></li>
        <li class="media-li"><a href="https://www.instagram.com/atakann_alkan/" target="_blank"><i class="fab fa-instagram footerMediaImage"></i></a></li>
    </ul>
</div>

<div class="text-center copyrightText text-white">
    <i class="far fa-copyright"></i> Sitenin Telif haklar覺 ve Tasar覺m覺 <strong>Atakan Alkan</strong>'a aittir.
</div>