<nav class="navbar navbar-expand-md navbar-dark bg-primary myLayoutNavbar">
    <div class="container">
        <a href="/" class="navbar-brand" style="font-weight: 600;"> <i class="far fa-shopping-cart"></i> Alışveriş Uygulaması</a>

        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item ps-1 ps-sm-0">
                    <a href="/category" class="nav-link active">Tüm Ürünler</a>
                </li>
                @if (User.IsInRole("admin") || User.IsInRole("manager"))
                {
                    <li class="nav-item">
                        <a href="/admin/panel" class="btn btn-primary adminPanelButton ps-1 ps-sm-2"> <i class="far fa-user-crown"></i> Admin Panel</a>
                    </li>
                }                
            </ul>

            @if (User.Identity.IsAuthenticated)
            {
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        @* <a href="/" class="nav-link"><i class="far fa-user"></i> @User.Identity.Name</a> *@
                        <div class="dropdown userDropdown">
                            <button type="button" class="btn btn-primary dropdown-toggle ps-1 ps-sm-2 accountButton" data-bs-toggle="dropdown" aria-expanded="true">@User.Identity.Name</button>
                            <ul class="dropdown-menu">
                                @* <i class="far fa-user"></i> *@
                                <li><a href="/user/myaccount" class="dropdown-item"><i class="fas fa-user-alt"></i> Hesabım</a></li>
                                <div class="dropdown-divider"></div>
                                <li><a href="/account/logout" class="dropdown-item bg-danger text-white"><i class="far fa-sign-out-alt"></i> Çıkış Yap</a></li>
                            </ul>                            
                        </div>
                    </li>
                    <li class="nav-item ps-1 ps-sm-0">
                        <a href="/cart" class="nav-link active">
                        <div class="d-inline position-relative me-2">
                            <i class="far fa-shopping-cart" style="font-size: 18px;"></i>
                            <span class="position-absolute top-0 start-100 badge bg-danger translate-middle rounded-circle badge-sm cartCountBadge">@await Component.InvokeAsync("Cart")</span>
                        </div>
                        Sepetim             
                        </a>
                    </li>
                </ul>
            } else {
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item ps-1 ps-sm-0">
                        <a href="/account/login" class="nav-link active"><i class="far fa-sign-in-alt"></i> Giriş Yap</a>
                    </li>
                    <li class="nav-item ps-1 ps-sm-0">
                        <a href="/account/register" class="nav-link active"><i class="far fa-user-plus"></i> Kayıt Ol</a>
                    </li>
                </ul>
            }            
        </div>
    </div>
</nav>